# Terraform local state files
*.tfstate
*.tfstate.backup
#*.tfvars

# Crash logs
crash.log

# Sensitive override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform directories
**/.terraform/

# Terraform lock file
.terraform.lock.hcl

# Ignore IDE/editor files
.vscode/
.idea/
*.swp
*.swo
*.bak

# Ignore OS files
.DS_Store
Thumbs.db

# Optional: ignore logs and plan outputs
*.log
*.plan
